* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins;
  overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.gradient-sidebar {
  background: linear-gradient(to bottom, #4c62ef, #21325f);
}
